body{
    background-color: #DFF1F7;
}
.signUp{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 65%;
    justify-content: space-around;
    align-items: center;
}
.image{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    /* display: none; */
}

input,#message{
    width:50%;
    height: 8%;
    text-align: center;
    border-radius: 30px;
    font-size: medium;
}
.imgSignUp:hover{
    color:#3E9AD7;
}
.imgSignUp{
    color:  #7e939b;
    margin: 5%;
    
}
.fa{
    cursor: pointer;
}
.signUpButton{
    width: 30%;
    height: 10%;
    background-color: #D2ECF3;
    border-radius: 20px;
    border:2px solid #3E9AD7;
    /* 3E9AD7; */
    cursor: pointer;
}
.signUpButton:hover{
    background-color:#3E9AD7;
    color: white;
}
.changeImg{
    
    display: none;
    width: 30%;
    height: 30%;
    
    justify-content: center;
    align-items: center;
}
.uploadedImg{
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 100%; 
    border-radius: 50%;
}
.otp-verification{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:60%;
    height: 8%;
    text-align: center;
    border-radius: 30px;
    font-size: medium;
}
.otpInput{
    height: 90%;
    width: 30%;
    font-weight: bold;
}
.otp{
    width: 25%;
    height: 90%;
    background-color: #D2ECF3;
    border-radius: 20px;
    border:2px solid #3E9AD7;
    /* 3E9AD7; */
    cursor: pointer;
}
.otp:hover{
    background-color:#3E9AD7;
    color: white;
}
#otp-count{
    color: gray;
}
#message{
    width: 80%;
}
